<!DOCTYPE html>
<html ng-app="contact-manager">
  <head>
    <base href="/">
    <meta charset="utf-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preparing For Angular2 - Josh Carroll</title>
    <link href="/app/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/app/lib/hover.css/css/hover.css" rel="stylesheet" media="all">
    <link href="/app/content/styles/app.css" rel="stylesheet" media="all">
    <link href="/app/content/font-awesome/css/font-awesome.css" rel="stylesheet">
  </head>
  <body>
  
    @RenderBody()
  
    <!-- Utils -->
    <script src="/app/lib/lodash/index.js"></script>
    <script src="/app/lib/showdown/dist/showdown.js"></script>
    <!-- Angular -->
    <script src="/app/lib/angular/angular.min.js"></script>
    <script src="/app/lib/angular-route/angular-route.min.js"></script>
    <script src="/app/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <!-- Angular Modules -->
    <script src="/app/lib/angular-markdown-directive/markdown.js"></script>
    <script src="/app/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- App -->
    <script src="/app/contact-manager.js"></script>
    <!-- Contact Components -->
    <script src="/app/contact/contacts-service.js"></script>
    <script src="/app/contact/contact-list.js"></script>
    <script src="/app/contact/contact-details.js"></script>
    <script src="/app/contact/contact-card.js"></script>
    <!-- Contact Notes Components -->
    <script src="/app/contact-notes/contact-notes.js"></script>
    <script src="/app/contact-notes/contact-notes-service.js"></script>
  
  </body>
</html>