<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta charset="utf-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preparing For Angular2 - Josh Carroll</title>
    <link href="/app/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/app/lib/hover.css/css/hover.css" rel="stylesheet" media="all">
    <link href="/app/content/styles/app.css" rel="stylesheet" media="all">
    <link href="/app/content/font-awesome/css/font-awesome.css" rel="stylesheet">
  </head>
  <body>
  
    @RenderBody()
  
    <script src="/app/lib/systemjs/dist/system.js"></script>
    <script>
      System.defaultJSExtensions = true;
      System.config({
        baseURL: '/app',
        paths:{
          '*':'*.js'
        },
        map:{
          'lodash':'/app/lib/lodash/index.js',
          'angular':'/app/lib/angular/index.js',
          'angular-sanitize':'/app/lib/angular-sanitize/index.js',
          'angular-ui-router':'/app/lib/angular-ui-router/release/angular-ui-router.js',
          'showdown':'/app/lib/showdown/dist/showdown.js'
        }
      });
      
      System['import']('bootstrap');
    </script>
  
  </body>
</html>