.media
{
    /*box-shadow:0px 0px 4px -2px #000;*/
    margin: 20px 0;
    padding:30px;
}
.dp
{
    border:10px solid #eee;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
}
.dp:hover
{
    border:2px solid #5bc0de;
    background-color: #FFFFCD;
}

.contact-card.media {
    border-radius: 10px;
}

.contact-card.media .dp {
    content:url('/app/content/img/user.svg');
}

.contact-card.media.selected .dp {
    border:2px solid #5bc0de;
    background-color: #8feb8f;
    content:url('/app/content/img/check.svg');
}